
body {
  background-color: darkgreen;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#walker {
  width: 50px;
  height: 50px;
  background-color: rgb(243, 119, 4);
  left: 100px;
  top: 100px;   
  position: absolute;
}

